<div *ngIf="!isLoading">

  <h4>Nombre de message enregistrés : {{livres.length}}</h4><br>

  <button class="btn btn-danger" routerLink="/livre/add">Ajouter un message</button><br><br>

  <table class="table table-dark">
    <thead>
      <th>Titre</th>
    </thead>
    <tbody>

      <tr *ngFor="let livre of this.livres">
        <td>{{ livre.titre }}</td>
        <td><button class="btn btn-warning" [routerLink]="['/livre', livre.id]">Voir le message</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div *ngIf="isLoading">
  <p>Traitement des données....</p>
</div>
